.navbar .search-form {
  margin-left: 0 !important;
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}

.post_list .card {
  text-decoration: none;
  color: #333;
  transition: all 0.4s;
  position: relative;
}

.post_list .card:hover {
  color: #333;
  opacity:.8;
  transform: translateY(-5px);
}

.post_list .card .post_created_at {
  font-size: 8px;
  color:#ccc;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.category {
  padding:2px 6px;
  border-radius: 16px;
  color: #fcfcfc;
  font-size: 11px;
  background-color: #dd0000;
  position: absolute;
  left: 3%;
  top: 3%;
}
