<!--
base.htmlを継承
-->
{% extends 'myapp/base.html' %}
{% block content %}

    <!-- Jumbotron -->
    <div class="p-5 jumbotron jumbotron-fluid">
      <div class="container">
        <h2 class="display-4">My first blog</h2>
        <p class="lead">ThisIs my first blog</p>
      </div>
    </div>
    <!-- Jumbotron -->

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in post_list %}
        <div class="col">
          <div class="card h-100">
            <img src="https://mdbootstrap.com/img/new/standard/city/041.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">
              This is a longer card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
