<!--
base.htmlを継承
-->
{% extends 'myapp/base.html' %}
{% block content %}

<div class="row mt-5">
  <div class="col-md-9">
    <div class="card">
      {% if object.thumbnail %}
        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}" />
      {% else %}
      <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top" alt="{{ object.title }}" />
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ object.title }}</h4>
        <p class="card-text">{{ object.content | safe | linebreaksbr | urlize }}</p>
        <p><a href="{% url 'myapp:like_add' object.id %}" class="btn btn-success">ブックマーク</a></p>
        <hr>
        <a href="{% url 'myapp:post_update' object.id %}" class="btn btn-primary">更新</a>
        <a href="{% url 'myapp:post_delete' object.id %}" class="btn btn-outline-danger">削除</a>

      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ object.category }}</h5>
        <p class="card-text">このカテゴリの他の記事</p>
      </div>
      <ul class="list-group">
        {% for item in category_posts %}
          <li class="list-group-item"><a href="{% url 'myapp:post_detail' item.id %}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  </div>
</div>

{% endblock %}
